.contacts{
    width: 100%;
    height: 353px;
    background-color: rgb(39, 58, 67);
    display: flex;
    justify-content: center;
}
.contacts_wrapper{
    width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}
.contacts_article{
    width: 23%;
    margin: 75px 100px 0 5px;
    font-size: 14px;
    font-family: myriad-pro, sans-serif;
    line-height: 1.429;
    color: rgb(195, 195, 195);
}
.contacts_article:nth-child(1) p{
    line-height: 1.429;
}
.contacts_article:nth-child(2) p{
    color: white;
    line-height: 2.222;
    margin: 0 0;
}
.contacts_article:nth-child(3) p{
-ms-text-overflow: ellipsis;
text-overflow: ellipsis;
overflow: hidden;
-ms-line-clamp: 3;
-webkit-line-clamp: 3;
line-clamp: 3;
display: -webkit-box;
display: box;
word-wrap: break-word;
-webkit-box-orient: vertical;
box-orient: vertical;
/* Установка ограничения количества строк в параграфе до 3... */
}
.contacts_article__date{
    color: rgb(113, 182, 213);
    line-height: 1.481;
}
.contacts_article__item{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
}
.contacts_pic{
    width: 21px;
    height: 21px;
    background-position: center;
    background-size: cover;
    margin-right: 18px;
}
.contacts_article__logo{
    display: flex;
    align-items: center;
}
.contacts_article__logo .logo__img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.contacts_article__logo .logo__name{
    font-size: 21px;
    margin: 0;
}
.contacts_article:nth-child(2) h3{
    color: white;
    margin-top: 9px;
}
.contacts_article:nth-child(3) h3{
    color: white;
    margin-top: 9px;
}