.header{
    position: absolute;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    width: 1130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;
}
.logo{
    display: flex;
}
.logo__img{
    width: 65px;
    height: 65px;
    background-image: url('../icons/spasskaya-tower.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 18px;

}
.logo__name{
    color: #ffdb47;
    font-size: 36px;
    font-family: "MV Boli";
    text-align: center;
}
.nav{
    width: 500px;
    display: flex;
    justify-content: space-between;
}
.nav a{
    text-decoration: none;
    color: white;
    font-size: 14.5px;
    font-family: 'Roboto Condensed', sans-serif;  
}