.serv{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.serv_name{
    margin: 80px 0;
    font-family: 'Roboto Condensed', sans-serif;
}
.serv_name h2{
    font-size: 26px;
    color: rgb(112, 157, 202);
    text-transform: uppercase;
    line-height: 0.846;
    text-align: center; 
    margin: 0;
}
.serv_name h3{
    font-size: 16px;
    color: rgb(57, 75, 80);
    line-height: 1.375;
    text-align: center;
    /* width: 528px;
    height: 16px; */
    margin: 0;
}
.serv_wrapper{
    width: 1130px;
    padding: 0 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}
.serv__line{
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.serv__item{
    display: flex;
    align-items: flex-start;
}
.serv__pic{
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
    margin-top: 15px;
    margin-right: 10px;
}
.serv__article h3 {
    font-size: 16px;
    font-family: myriad-pro, sans-serif;
    color: rgb(57, 75, 80);
    text-transform: uppercase;
    line-height: 1.375;
    text-align: left;
  }
  .serv__article p {
    font-size: 13px;
    font-family: myriad-pro, sans-serif;
    color: rgb(123, 123, 123);
    line-height: 1.692;
    text-align: left;
    width: 475px;
  }
  